<h2>Voting History of <%= legislator.name %> (<%= legislator.party %>-<%= legislator.state %>)</h2>

<h3><%= congress[0] %> Congress, <%= congress[1] %> Session (<%= year %>)</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
      <th>Legisnum</th>
      <th>Vote</th>
      <th>Question</th>
    </tr>
  </thead>

  <tbody>
    <% votes.each do |vr| %>
      <tr>
        <td><%= vr.roll_call.date %></td>
        <td><%= vr.roll_call.number %></td>
        <td>
          <% if vr.roll_call.bill_link %>
            <a href="<%= vr.roll_call.bill_link %>"><%= vr.roll_call.legisnum %></a>
          <% end %>
        </td>
        <td><%= vr.vote %></td>
        <td><span class="vote-descr"><%= vr.roll_call.descr %></span> <br/> <%= vr.roll_call.question %></td>
      </tr>
    <% end %>
  </tbody>
</table>
