<nav>
  <% years_for_member(params["name_id"]).each do |y| %>
    <ul class="years-list">
      <li><a href="<%= request.path_info %>?<%= Rack::Utils.build_query(params_with_changed_year(y)) %>"><%= y %></a></li>
    </ul>
  <% end %>
</nav>

<h2>Voting History of <%= legislator.pretty %></h2>

<%= legislator.portrait_img %>

<h3><%= congress[0] %> Congress, <%= congress[1] %> Session (<%= year %>)</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
      <th>Legisnum</th>
      <th>Vote</th>
      <th>Question</th>
    </tr>
  </thead>

  <tbody>
    <% votes.each do |v| %>
      <tr>
        <td><%= v.roll_call.date %></td>
        <td><%= v.roll_call.number %></td>
        <td>
          <% if v.roll_call.bill_link %>
            <a href="<%= v.roll_call.bill_link %>"><%= v.roll_call.legisnum %></a>
          <% end %>
        </td>
        <td><%= v.vote %></td>
        <td><span class="vote-descr"><%= v.roll_call.descr %></span> <br/> <%= v.roll_call.question %></td>
      </tr>
    <% end %>
  </tbody>
</table>
