<nav>
  <% (2016..Time.now.year).each do |y| %>
    <ul class="years-list">
      <li><a href="<%= request.path_info %>?<%= Rack::Utils.build_query(params_with_changed_year(y)) %>"><%= y %></a></li>
    </ul>
  <% end %>
</nav>

<h2>All Legislators of the <%= congress[0] %> Congress, <%= congress[1] %> Session (<%= year %>)</h2>

<h3><%= legislators.length %> total</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% legislators.each do |legislator| %>
      <tr>
        <td>
          <% if legislator.senator? %>
            SENATE
          <% else %>
            HOUSE
          <% end %>
        </td>
        <td><%= legislator.party %>-<%= legislator.state %></td>
        <td><a href="/record?year=<%= year %>&name_id=<%=legislator.name_id%>"><%= legislator.full_name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
